:root {
    --sea-green: #075e54;
    --surfice-green: #128c7e;
    --mountain-meadow: #25d366;
    --gossip: #dcf8c6;
    --picton-blue: #34b7f1;
    --pearl-bush: #ece5dd;
}


*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

body {
    width: 100%;
    height: 100vh;
    background: var(--pearl-bush);
}

header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    /*background: lightslategrey;*/
}

img {
    width: 30px;
}

nav {
    display: flex;
    gap: 20px;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

ul a {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: gray;
}



main {
    width: 100%;
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 150px 50px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

section:nth-child(odd) {
    background-color: var(--gossip);
}

.btn {
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #000;
    color: #000;
    background-color: var(--mountain-meadow);
}

.btn:hover {
    background-color: #000;
    color: #fff;
    transition: 1s ease;
}

.container {
    display: flex;
    flex-direction: column;
}

.hamburger {
    display: none;
}

.box {
    width: 100%;
    height: 2px;
    background-color:gray;

}

.menu-search {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: end;
    align-items: center;
}

input {
    width: 300px;
    border: none;
    outline: none;
    padding: 5px 15px;
    border-radius: 15px;
}

.menu {
    width: 100%;
    display: none;
    justify-content: end;
}

.menu ul {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    /*text-align: center;*/
}
.menu ul li {
    width: 100%;
    list-style: none;
    font-size: 2rem;
}

.menu ul li:hover {
    background-color: gray;

    a {
        color: whitesmoke;
    }
}

.cards {
    display: flex;
    justify-content: space-between;
    /*flex-wrap: wrap;*/
    gap: 50px;
}


.card {
    min-width: 200px;
    min-height: 300px;
    border-radius: 10px;
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*padding: 10px;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;

}

.card:hover {
    transform: translateY(-18px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--picton-blue);
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 10px;
    flex-grow: 2;
}

.card-footer {
    width: 100%;
    height: 50px;
    display: flex;
    border-radius:0 0  10px 10px;
    padding: 10px;
    justify-content: end;
}

button {
    width: 100px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: var(--mountain-meadow);

}

footer {
    width: 100%;
    height: 200px;
    background-color: var(--sea-green);

}

@media (min-width: 801px) {
    .menu {
        display: none;
    }
}

@media(max-width: 800px) {
    body {
        /*background-color: blue;*/
    }
    .hamburger {
        width: 20px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /*align-items: center;*/
    }
    nav {
        display: none;
    }

    .cards {
        flex-wrap: wrap;
    }
}

@media(max-width: 500px) {
    body{
        /*background-color: orange;*/
    }
}